.header{
  
  padding-top: 15px;
  text-align: center;
  
}
.header_title{
    color: black;
}
.btn{
    background-color: rgba(42, 216, 42, 0.801);
    font-size: 20px;
    margin: 20px left;
    padding: 5px 0;
    text-align: center;
    display: block;
    width: 200px;
}